### C++
# Object files
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Dynamic libraries
*.so
*.dylib
*.dll

# Static libraries
*.a
*.lib

# Executables
*.exe
*.out

# Linker output
*.ilk
*.map
*.exp

# Debug files
*.dSYM/
*.idb
*.pdb

### Objective-C
# Xcode user settings
xcuserdata/

# Xcode build data
DerivedData/

# Obj-C/Swift specific
*.hmap

# App packaging
*.ipa
*.dSYM.zip
*.dSYM

# Playgrounds
timeline.xctimeline
playground.xcworkspace

### Python
# Byte-compiled files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
build/
dist/
*.egg-info/
*.egg

# dotenv environment variable files
.env

# Virtual environments
.venv
env/
venv/

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.pytest_cache/

# Type checkers
.mypy_cache/

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
# .python-version

### macOS
# Finder metadata
.DS_Store

# Thumbnails
._*

# Custom folder icons
Icon

# Volume root files
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

### Windows
# Windows thumbnail cache files
Thumbs.db

# Folder config file
[Dd]esktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows shortcuts
*.lnk

### Linux
# Backup files
*~

# Temporary files from deleted open files
.fuse_hidden*

# KDE directory preferences
.directory

# Linux trash folder
.Trash-*

# NFS temporary files
.nfs*

### JetBrains
# JetBrains IDE directory
.idea/

# CMake build directories
cmake-build-*/

# File-based project format
*.iws
*.iml

# IntelliJ build output
out/

### VisualStudio
# User-specific files
*.suo
*.user

# Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Ww][Ii][Nn]32/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
[Bb]in/
[Oo]bj/

# Visual Studio cache/options directory
.vs/

# MSTest test Results
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*

# NuGet
*.nupkg
**/[Pp]ackages/*
!**/[Pp]ackages/build/
*.nuget.props
*.nuget.targets

# Publish Web Output
*.[Pp]ublish.xml
*.modules
*.hpp
